.product-snapshot,section{
    width:1002px;
    margin:0 auto;
}
.product-snapshot{
    height:522px;
    background:#fff;
    margin-bottom:20px;
}
.product-detail{
    width:780px;
    min-height:600px;
    background:#fff;
}
.similar-product{
    width:200px;
    min-height:500px;
    background:#fff;
}
