.banner{
    width:1152px;
    height:400px;
    margin:0 auto;
    position:relative;
//  7 pieces 34 per pieces
    .banner-btn{
        display:none;

        span{
            cursor:pointer;
            z-index:20;
            position:absolute;
            width:40px;
            height:60px;
            font-size:30px;
            line-height:60px;
            text-align:center;
            background:rgba(0,0,0,.5);
            color:#fff;
            top:50%;
            margin-top:-40px;
            &:hover{
                background:#ff7f27;
            }
        }
        span:first-child{
            left:0;
        }
        span:last-child{
            right:0;
        }
    }
    .banner-index{
        position:absolute;
        z-index:20;
        width:540px;
        height:6px;
        left:0;
        right:0;
        margin:auto;
        bottom:0;
        li{
            cursor:pointer;
            float:left;
            height:6px;
            width:180px;
            background:#fff;
        }
        .now{
            background:#ff7f27;
        }
    }
    >ul{
        >li{
            height:40px;
            overflow:hidden;
            position:relative;
            ul{
                height:160px;
                width:1152px;
                overflow:hidden;
                position:absolute;
                left:0;
                top:0;
                li{
                    height:40px;
                    overflow:hidden;
                    position:relative;
                    img{
                        position:absolute;
                        left:0;
                        top:0;
                    }
                }
            }
        }
        >li:nth-of-type(2){
            img{
            top:-40px;
            }
        }
        >li:nth-of-type(3){
            img{
            top:-80px;
            }
        }
        >li:nth-of-type(4){
            img{
            top:-120px;
            }
        }
        >li:nth-of-type(5){
            img{
            top:-160px;
            }
        }
        >li:nth-of-type(6){
            img{
            top:-200px;
            }
        }
        >li:nth-of-type(7){
            img{
            top:-240px;
            }
        } 
        >li:nth-of-type(8){
            img{
            top:-280px;
            }
        }
        >li:nth-of-type(9){
            img{
            top:-320px;
            }
        }
        >li:nth-of-type(10){
            img{
            top:-360px;
            }
        }       
    }
}

.exhibition{
        margin-left:6px;
        margin-bottom:6px;
        position:relative;
        figure{
            width:380px;
            height:227px;
            cursor:pointer;
            position:relative;
            img{
                
                width:190px;
                height:227px;
                transition:0.5s all;
            }
            
            figcaption{
                
                background:#fff;
                width:160px;
                height:187px;
                padding:20px 15px;
                position:relative;
                h3{
                    font-size:12px;
                    height:60px;
                    line-height:22px;
                }
                p{
                    font-size:12px;
                    color:#969696;
                    line-height:18px;
                }
                span{
                    position:absolute;
                    left:15px;
                    bottom:20px;
                    font-size:16px;
                    font-weight:bold;
                    color:#d10048;
                }
                .trigon{
                    position:absolute;
                    left:-28px;
                    top:30%;
                    border:14px solid transparent;
                    border-right-color:#fff;
                }
            }
            .left{
                .trigon{
                    border-right-color:transparent;
                    border-left-color:#fff;
                    left:190px;
                }
            }
        }
        .exhibition-detail{
           
            position:absolute;
            background:#fff;
            overflow:hidden;
//          height:227px;
//          height:693px;
            width:0;
            height:0;
            z-index:10;
            top:0;
            left:0;
            .exh-detail-close{
                cursor:pointer;
                position:absolute;
                right:5px;
                top:5px;
                width:30px;
                height:30px;
                border:none;
                outline:none;
                background:url(../../res/img/vivo-head-ico.png) no-repeat -83px top;
            }
            .exh-detail-img{
                width:100%;
                margin-bottom:30px;
                img{
                    height:227px;
                }
            }
            .exh-detail-produce{
                padding:0 20px;
            }
            h4{
                font-size:14px;
                color:#aaa;
                line-height:26px;
            }
            p{
                font-size:12px;
                color:#ccc;
                line-height:24px;
            }
            .exh-detail-price{
                padding-top:5px;
                span{
                    display:inline-block;
                    vertical-align:middle;
                    font-size:14px;
                    color:#cc3333;
                }
                em{
                    cursor:pointer;
                    display:inline-block;
                    vertical-align:middle;
                    width:29px;
                    height:28px;
                    background:url(../../res/img/index-bg.png) no-repeat left -113px;
                    margin:0 10px 0 5px;
                }
                a{
                    display:inline-block;
                    vertical-align:middle;
                    line-height:28px;
                    font-size:12px;
                    color:#ccc;
                }
            }
            .exh-detail-minimg{
                padding-top:30px;
                img{
                    float:left;
                    margin-left:30px;
                    height:100px;
                }
            }
        }
    }
section{
    margin-top:20px;
    min-height:500px;
    .section-beauty{
        .beauty-tit{
            width:380px;
            height:227px;
            background:url(../../res/img/section-beauty-tit.jpg) no-repeat center center;
            cursor:pointer;
        }
        .beauty-product{
            figure{
                 &:hover>figcaption{
                    background:#eeafce;
                }
                &:hover .trigon{
                    border-color:transparent;
                    border-right-color:#eeafce;
                }
                &:hover .left .trigon{
                    border-color:transparent;
                    border-left-color:#eeafce;
                }
                &:hover p{
                    color:#fff;
                }
                &:hover img{
                    transform:translateX(5px);
                }
                &:hover .right{
                    transform:translateX(-5px);
                }
            }
        }
    }
    .section-health{
        .health-tit{
            width:380px;
            height:227px;
            background:url(../../res/img/section-health-tit.jpg) no-repeat center center;
            cursor:pointer;
        }
        .health-product{
            figure{
                &:hover>figcaption{
                    background:#97c86c;
                }
                &:hover .trigon{
                    border-color:transparent;
                    border-right-color:#97c86c;
                }
                &:hover .left .trigon{
                    border-color:transparent;
                    border-left-color:#97c86c;
                }
                &:hover p{
                    color:#fff;
                }
                &:hover img{
                    transform:translateX(5px);
                }
                &:hover .right{
                    transform:translateX(-5px);
                }
            }
        }
    }
    .section-life{
        .life-tit{
            width:380px;
            height:227px;
            background:url(../../res/img/section-life-tit.jpg) no-repeat center center;
            cursor:pointer;
        }
        .life-product{
            figure{
                &:hover>figcaption{
                    background:#8ccedc;
                }
                &:hover .trigon{
                    border-color:transparent;
                    border-right-color:#8ccedc;
                }
                &:hover .left .trigon{
                    border-color:transparent;
                    border-left-color:#8ccedc;
                }
                &:hover p{
                    color:#fff;
                }
                &:hover img{
                    transform:translateX(5px);
                }
                &:hover .right{
                    transform:translateX(-5px);
                }
            }
        }
        
    }
    
}

    
.info{
    min-height:200px;
    .info-box{
        figure{
            &:hover img{
                transform:translateX(5px);
            }
            &:hover .right{
                transform:translateX(-5px);
            }
            &:hover .trigon{
                border-color:transparent;
                border-right-color:#fff;
            }
            &:hover .left .trigon{
                border-color:transparent;
                border-left-color:#fff;
            }
            &:hover p{
                color:#666;
            }
            width:570px;
            img{
            width:342px;
            height:227px;
            }
            .right{
                width:342px;
                height:227px;
            }
            figcaption{
                width:198px;
                h3{
                    color:#888;
                }
                .trigon{
                    
                }
                span{
                    font-size:12px;
                    font-weight:normal;
                }
            }
            .left{
                width:198px;
                .trigon{
                    left:228px;
                }
            }
        }
    }
}
