.content{
    width:978px;
    margin:0 auto;
    padding:24px 30px 40px;
    background:#fff;
    h2{
        font-weight:normal;
        height:60px;
        font-size:18px;
        line-height:60px;
        border-bottom:1px solid #ccc;
    }
    #form-pay{

        h3{
            font-weight:normal;
            height:40px;
            line-height:40px;
            font-size:14px;
            color:#666;
        }
        
        .info-box{
            border:1px solid #ccc;
            padding:24px 15px;
        }
        .receiveInfo{
            height:370px;
            overflow:hidden;
            >label:nth-of-type(2),.oldReceiveInfo{
                width:100%;
                text-align:left;
                input{
                    width:16px;
                    height:16px;
                }
            }
            .oldReceiveInfo{
                display:none;
            }
            label,.form-input-wrap{
                display:block;
                height:46px;
                line-height:46px;
                width:380px;
                text-align:right;
                font-size:12px;
                color:#888;
                input{
                    margin:0 5px;
                    width:240px;
                    height:32px;
                    border:1px solid #ccc;
                    vertical-align:middle;
                }
            }
            
            .form-input-wrap:nth-of-type(2){
                width:100%;
                height:auto;
                label:nth-of-type(2){
                    width:430px;
                }
                .phone1{
                    width:60px;
                }
                .phone2{
                    width:100px;
                }
                .phone3{
                    width:100px;
                }
            }
            >input[type=button]{
                cursor:pointer;
                display:block;
                height:30px;
                font-size:16px;
                padding:6px;
                background:#db085a;
                color:#fff;
                border-radius:5px;
                margin:15px 0 0 125px;
                outline:#db0000;
            }
        }
        .delivery{
            select{
                height:32px;
                border:1px solid #ccc;
                width:100px;
            }
        }
        .payMethod{
            p{
                color:#666;
                margin-bottom:20px;
            }
            label{
                float:left;
                margin-bottom:20px;
                margin-right:60px;
                input{
                    vertical-align:middle;
                }
                em{
                    cursor:pointer;
                    margin-left:5px;
                    display:inline-block;
                    width:96px;
                    height:33px;
                    vertical-align:middle;
                    background: url(../../res/cart/banks.png) no-repeat;
                }
            }
            label:nth-of-type(2){
                em{
                    background-position:-104px 0;
                }
                
            }
            label:nth-of-type(3){
                em{
                    background-position:-214px 0;
                }
                
            }
            label:nth-of-type(4){
                em{
                    background-position:-314px 0;
                }
                
            }
            label:nth-of-type(5){
                em{
                    background-position:-416px 0;
                }
                
            }
            label:nth-of-type(6){
                em{
                   background-position:0 -40px; 
                }
                
            }
            label:nth-of-type(7){
                em{
                    background-position:-104px -40px;                    
                }
            }
            label:nth-of-type(8){
                em{
                    background-position:-214px -40px;
                }
                
            }
            label:nth-of-type(9){
                em{
                   background-position:-318px -42px; 
                }
                
            }
            label:nth-of-type(10){
                em{
                    background-position:-416px -40px;
                }
               
            }
        }
        .goodsList{
            .thisGoods{
                padding:10px 40px;
                border-bottom:1px dashed #ccc;
                dl{
                    dt{
                       width:84px;
                       height:84px;
                       padding:3px;
                       float:left;
                       border:1px solid #ccc; 
                       img{
                           height:84px;
                           margin:0 auto;
                       }
                    }
                    dd{
                        width:200px;
                        margin-left:10px;
                        float:left;
                        font-size:12px;
                        line-height:20px;
                        span{
                            color:#666;
                        }
                    }
                }
                .count{
                    display:inline-block;
                    
                    margin:0 100px;
                    line-height:80px;
                }
                .price{
                    display:inline-block;
                  
                    margin:0 100px;
                    line-height:80px;
                }
            }
        }
        .summary{
            font-size:16px;
            line-height:40px;
            text-align:right;
        }
        .ticket{
            line-height:60px;
            input{
                margin-right:6px;
            }
        }
        
    }
    .pay-footer{
        text-align:right;
        font-size:16px;
        span{
            color:#f33575;
            margin:0 6px;
        }
        a{
            display:inline-block;
            background:#f33575;
            color:#fff;
            padding:10px 15px;
            border-radius:5px;  
        }
    }
}
